@tailwind base;
@tailwind components;
@tailwind utilities;




html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
  'Work Sans', sans-serif;
}

body {
  background-color: #FDF8F6;
  padding: 0;
  margin: 0;
  line-height: inherit;
}

.sectionTitle {
  @apply text-[#582467] text-[46px] font-medium leading-5
}

.sectionText {
  @apply text-[#582467] font-medium leading-5
}



.priceText {
  @apply text-[#9E71AB] text-[14px] font-medium leading-5
}


.hoverLinkParent .linkToShow {
  display: none;
}


.hoverLinkParent:hover .linkToShow {
  display: flex;
}

.hoverLinkParent img {
  transition: transform 0.3s;  
}

.hoverLinkParent:hover img {
  transform: scale(1.282);
}

